html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #fff;
  border: 1px solid #bababa;
  color: #555;
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  right: 30px;
  bottom: 30px;
  font-size: 17px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s, visibility 0.5s;
}

.toast.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

/* Optional: Hide the toast when the animation is over */
.toast.hide {
  visibility: hidden;
  opacity: 0;
  transform: translateY(20px);
}